
fieldset {
padding:9px;
margin: 0px;
background-color: #99CCCC;
}
legend {
    color:#06c;
    font-weight:800; 
    background:#fff;
}

PRE {
	FONT-SIZE: 11px;
	FONT-FAMILY: 'Arial'
}

TD {
	FONT-SIZE: 11px;
	FONT-FAMILY: 'Arial'
}

TH {
	FONT-SIZE: 14px;
	FONT-FAMILY: 'Arial';
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #225588;
	TEXT-TRANSFORM: capitalize
}

.ccbTitle {
	FONT-SIZE: 20pt;
	COLOR: #6666CC;
	FONT-FAMILY: 'Arial';
	TEXT-TRANSFORM: capitalize
}

.tranTitle {
	FONT-SIZE: 16pt;
	COLOR: #222266;
	FONT-FAMILY: '华文细黑';
	TEXT-TRANSFORM: capitalize
}

.ccbTitle2 {
	FONT-SIZE: 12pt;
	TEXT-TRANSFORM: capitalize
}

.dirTitle {
	FONT-SIZE: 12pt;
	COLOR: #6666CC;
	FONT-FAMILY: '华文细黑';
	TEXT-TRANSFORM: capitalize
}

.M1Title {
	FONT-SIZE: 12pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: '华文细黑'
}
.FTitle {
	FONT-SIZE: 13px;
	COLOR: #FFFFFF;
	FONT-FAMILY: '华文细黑'
}

.queryT {
	FONT-SIZE: 10pt;
	COLOR: #FFFFFF;
	FONT-FAMILY: '华文细黑'
}
.queryINPUT {
	padding: 0px;
	font-size: 10pt;
	border-top-color: 336699;
	text-align: left;
	background-color: eeeeff;
	margin: 0px;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: 336699;
	border-right-color: 336699;
	height: 12pt
}

.workplaceCn
{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin: 0.0em;
}


.workplaceSt
{
	border: 1em solid #99CCCC;
	background: #FFFFFF;
	margin: 0em;
}

.aTD {
	FONT-SIZE: 10pt;
	COLOR: #001166;
	FONT-FAMILY: '华文细黑'
}

BODY {
	FONT-SIZE: 12pt;
	COLOR: #000000;
	FONT-FAMILY: 'Arial';
	TEXT-TRANSFORM: capitalize
}

INPUT {
	padding: 0px;
	font-size: 10pt;
	border-top-color: 336699;
	text-align: left;
	background-color: eeeeff;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: 336699;
	border-right-color: 336699;
	height: 10px
	clear: both
}


.tcolor{
background-color: #DDDDDD
}

.groovedouble {
border-style: groove;
border-width: 2px
}

.ename {
	font-family: "华文楷体";
	font-size: 16px;
	color: #FFFFFF;
}
.dname {
	font-family: "华文细黑";
	font-size: 18px;
	color: #FFFFFF;
}

.cname {
	font-family: "华文细黑";
	font-size: 14px;
	color: #FFFFFF;
}
.aname {
	font-family: "华文细黑";
	font-size: 18px;
	color: #000000;
}

.td1{
		border-top:1px solid #C8C8FF;	
		background-color:#98b8e8;
		border-left:1px solid #ACA899;
		border-right:1px solid #FFF;
		padding: 1px;
}


.td2{
		border-top:1px solid #FFC83C;	
		background-color:#98b8e8;
		border-left:1px solid #ACA899;
		border-right:1px solid #FFF;
		padding: 1px;
}

T11 {
	font-family: Arial;
	font-size: 10pt;
	border-top-color: red;
	text-align: left;
	width: 580px;
	background-color: FFFFFF;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: olive;
	border-right-color: olive;
	text-indent: 3px;
	padding: 1px;
	border-left-color: olive;
	height: 100px
}

TEXTAREA {
	font-family: Arial;
	font-size: 10pt;
	border-top-color: 0000CC;
	text-align: left;
	background-color: eeeeff;
	margin: 1px;
	border-style: solid;
	border-width: 1px;
	border-bottom-color: olive;
	border-right-color: olive;
	text-indent: 3px;
	padding: 1px;
	border-left-color: olive;
}
.icon_search {
	padding: 0px;
	font-size: 7pt;
	height: 16px;
	width: 16px;
	border-width: 0px;
	border-color: 336699;
	margin: 0px;
	border-style: solid;
	BACKGROUND-IMAGE: url("/MVC4CPF/images/icon/search.gif")
}
	