<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Workplace4YD</display-name>

	<servlet>
		<servlet-name>MVCSContainer</servlet-name>
		<servlet-class>
			org.abel.webapp.framework.MVCSContainer
		</servlet-class>
		<init-param>
			<param-name>webcfg</param-name>
			<param-value>/WEB-INF/script/webcfg.xml</param-value>
		</init-param>
		<init-param>
			<param-name>commoncfg</param-name>
			<param-value>/WEB-INF/script/common.properties</param-value>
		</init-param>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MVCSContainer</servlet-name>
		<url-pattern>/ET/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>XMLContainer</servlet-name>
		<servlet-class>
			org.abel.webapp.framework.XMLContainer
		</servlet-class>
		<init-param>
			<param-name>webcfg</param-name>
			<param-value>/WEB-INF/script/xml_cfg.xml</param-value>
		</init-param>
		<init-param>
			<param-name>commoncfg</param-name>
			<param-value>/WEB-INF/script/common.properties</param-value>
		</init-param>
		<load-on-startup>-1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>XMLContainer</servlet-name>
		<url-pattern>/XMLC/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AutoCp</servlet-name>
		<servlet-class>
			org.abel.webapp.commodel.AutoCompleteServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoCp</servlet-name>
		<url-pattern>/AutoCP/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
